//Vars

//Image Path
$imagePath: "../img";

//Colours
$black: hsla(0, 0%, 27%, 1);
$white: hsla(60, 100%, 99%, 1);
$grey: hsla(220, 7%, 82%, 1);

//Typography
$baseFamily: "lato", sans-serif;
$baseStyle: normal;
$baseWeight: 300;
$baseSize: 1.600rem;

$headingFamily: "jaf-bernino-sans-condensed", sans-serif;
$headingStyle: normal;
$headingWeight: 600;
$headingBaseSize: 2.20rem;


//Misc
$sidePadding: 14px;